<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
    <title>PARSER | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="guessWord">
<script src="lib/jquery-1.12.0.js"></script>
<script src="lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="js/app.js"></script>
<div class="container-fluid jumbotron">
    <header class="container text-center">
        <h2>Hello, lovely girls and women! We happy to congratulate you with your celebrate!</h2>
    </header>
</div>
<div class="container">
    <form ng-controller="wordController as wordCtrl" name="key-word" novalidate>
        <div class="form-group">
            <h3 class="text-center">Please, enter your word, and we check it out</h3>
            <input placeholder="Start to typing your word, and maybe you were right!" ng-model="wordCtrl.word"
                   type="text" id="key-word" class="form-control">
        </div>
        <button ng-click="wordCtrl.makeRequest(wordCtrl.word)" type="button" class="btn btn-block btn-lg btn-primary">
            Check!
        </button>
        <h3 class="text-center">You have entered: {{wordCtrl.word}}</h3>
        <div class="text-center alert-success jumbotron" ng-show="wordCtrl.answer"><h3>You are correct!</h3></div>
        <div class="text-center alert-danger" ng-hide="wordCtrl.answer"><h3>You are wrong :(</h3></div>
    </form>
</div>

<footer class="container-fluid text-center">
    Copyright &copy; EPAM 2016. All rights reserved.
</footer>
</body>
</html>